# Python cache
__pycache__/
*.py[cod]
*$py.class

# Local environments
venv/
.env

# SQLite Database
db.sqlite

# Large Binaries
OllamaSetup.exe
ffmpeg.exe

# Recorded media clips
media/
static/
*.wav
*.mp3

# Zips
*.zip

# Google Cloud credentials
google_vision_creds.json

